[submodule "players/GamePlayer2"]
	path = players/GamePlayer2
	url = ../../fbaseggio/GamePlayer2.git
[submodule "players/GamePlayer2_alt"]
	path = players/GamePlayer2_alt
	url = ../../fbaseggio/GamePlayer2.git
